<!-- Footer -->
<footer class="flex flex-col md:flex-row justify-evenly gap-2">

    <div class="md:pt-8 pt-6 md:pb-6 border-t border-gray-300 px-10 box-border flex-1">
        <p class="text-lg text-gray-600">Usefull Links</p>
        <div class="w-full flex flex-col xl:h-32 md:h-full xl:flex-wrap py-2">
            <a href="https://en.wikipedia.org/wiki/Unix_time" target="_blank" class="block text-green-800/60 text-sm hover:text-green-700/60 transition-all px-2 duration-200">Whats Unix Timestamp ?</a>
            <a href="https://wonderley.io/unix-time/" target="_blank" class="block text-green-800/60 text-sm hover:text-green-700/60 transition-all px-2 duration-200">Why Unix Timestamp ?</a>
            <a href="https://www.tutorialspoint.com/how-to-get-the-unix-timestamp-in-chash" target="_blank" class="block text-green-800/60 text-sm hover:text-green-700/60 transition-all px-2 duration-200">how to use unix time in C#</a>
            <a href="https://flaviocopes.com/how-to-get-timestamp-javascript/" target="_blank" class="block text-green-800/60 text-sm hover:text-green-700/60 transition-all px-2 duration-200">how to use unix time in Javascript</a>
            <a href="https://en.cppreference.com/w/cpp/chrono/c/timeS" target="_blank" class="block text-green-800/60 text-sm hover:text-green-700/60 transition-all px-2 duration-200">how to use unix time in C++</a>
            <a href="https://www.geeksforgeeks.org/time-time-unix-function-in-golang-with-examples/" target="_blank" class="block text-green-800/60 text-sm hover:text-green-700/60 transition-all px-2 duration-200">how to use unix time in Golang</a>
            <a href="https://www.fluttercampus.com/guide/208/get-timestamp-dart/" target="_blank" class="block text-green-800/60 text-sm hover:text-green-700/60 transition-all px-2 duration-200">how to use unix time in Dart/Flutter</a>
            <a href="https://www.techiedelight.com/find-number-of-seconds-elapsed-since-unix-epoch-kotlin/" target="_blank" class="block text-green-800/60 text-sm hover:text-green-700/60 transition-all px-2 duration-200">how to use unix time in Kotlin</a>
            <a href="https://zetcode.com/java/unixtime/" target="_blank" class="block text-green-800/60 text-sm hover:text-green-700/60 transition-all px-2 duration-200">how to use unix time in Java</a>
            <a href="https://www.php.net/manual/en/function.time.php" target="_blank" class="block text-green-800/60 text-sm hover:text-green-700/60 transition-all px-2 duration-200">how to use unix time in php</a>
        </div>
    </div>
    <div class="md:pt-8 pt-6 md:pb-6 border-t border-gray-300 px-10 box-border flex-1">
        <p class="text-lg text-gray-600">About me</p>
        <a class="block text-gray-500 text-sm px-2 py-2">Hi, I'm Amir Mahdy Jebreily (Amir JCS). Full stack web developer and designer of artificial intelligence and ML algorithms in C #. My Github page contains my other projects and my resume.</a>
        <a href="https://github.com/amirmahdyjebreily" target="_blank" class="block text-green-800/60 text-sm hover:text-green-700/60 transition-all px-2 duration-200">My Github Page</a>
        <a href="https://www.php.net/manual/en/function.time.php" target="_blank" class="block text-green-800/60 text-sm hover:text-green-700/60 transition-all px-2 duration-200">My Instagram page</a>
    </div>
</footer>
