@inherits LayoutComponentBase

<PageTitle>Timestamp.Site</PageTitle>

<div class="bg-gray-200 text-gray-500">
    <main class="grid justify-center content-between h-full md:w-2/3 w-full md:mx-auto px-4 py-6 min-h-screen">
         @Body
    </main>
</div>
